<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
    <h1>Users</h1>
    <table class="table table-dark table-hover" style="width: auto;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Mobile No.</th>
                <th>City</th>
                <th>show</th>
                <th>Delete</th>
                <th>Update</th>
                <!-- <th colspan="3"></th> -->
            </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.gender %></td>
                <td><%= user.mobile_no %></td>
                <td><%= user.city%></td>
                <td><%= link_to 'Show', user, :class =>'btn btn-light' %></td>
                <td><%= link_to 'Edit', edit_user_registration_path(user), :class =>'btn btn-success' %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn btn-danger' %></td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <br>


    <%= link_to 'back', root_path, :class =>'btn btn-primary' %>
</div>